body {
    cursor: pointer;
}

.jumbotron {
    background-color: #3679b5;
    color: white;
}

.container {
    opacity: .93;
}

.cardOne {
    margin-top: 25px;
}

.card-header {
    background-color: #3679b5;
    color: white;
}

/* .card-body {
    background-color: grey;
} */

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

input:invalid {
    border: .5px dashed red;
  }
  
input:valid {
    border: .5px solid black;
  }