body {
    cursor: pointer;
}

.jumbotron {
    background-color: #3679b5;
    color: white;
}

.container {
    opacity: .9;
}

.cardOne {
    margin-top: 25px;
}

.card-header {
    background-color: #3679b5;
    color: white;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
}